.main-page {
  height: 820px;
  //min-height: 100vh;
  background: url("../../images/IMG_BG.png") no-repeat 50% 50%;
  //color: $logoGreen;
  text-align: center;
  position: relative;
  overflow: hidden;

  header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 21px 81px 10px 135px;
    text-transform: uppercase;
    letter-spacing: 1.6px;

    nav {
      margin-left: auto;
      padding-top: 20px;

      ul {
        display: flex;

        li {
          margin-right: 40px;

          a {
            transition: 0.5s;
            text-transform: uppercase;
          }
        }

        /*li:hover a {
          color: #9A9A9A;
        }*/
      }
    }
  }

  /*  .header-xs {
      display: none;
      //background: url("../../images/logo-min-min.jpg") no-repeat 50% 50%;
      background-size: 77%;
      //min-height: 400px;

      @media screen and (max-width: 576px) {
        display: block;

        h1, p {
          color: $logoGreen;
          margin: 5px;
          padding-bottom: 10px;
        }

        h1 {
          font-size: 15px;
        }

        p {
          font-size: 15px;
        }

        .nav-xs__container {
          display: flex;
          justify-content: space-between;

          .nav-xs {
            width: 50%;
            text-align: right;

            .menu {
              display: none;
              background-color: rgba(255, 255, 0, .8);
              font-size: 22px;
              position: absolute;
              right: 0;
              z-index: 1000;

              li {
                padding: 7px 5px;
              }

              a {
                text-transform: uppercase;
                color: $logoGreen;
                transition: 0.5s;
              };
            }

            img {
              width: 40px;
              height: 40px;
            }
          }
        }

        .logo-xs {

          position: absolute;
          top: 20px;
          padding: 10px 0;

          img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
          }
        }
      }
    }*/

  .scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    a {
      display: block;
      margin: 0 auto;
      width: 18px;
      height: 18px;
      transition: 0.5s;

      img {
        margin: auto;
        transition: 0.5s;
      }
    }

    a:hover img {
      opacity: 0.8;
    }
  }

  .main-page_content {
    padding: 295px 0;

    .main-page_info {

      p {
        font-size: 20px;
        letter-spacing: 16px;
        padding-top: 24px;
      }

      h1 {
        font-size: 52px;
        letter-spacing: 41.6px;
      }

    }

  }
}